{% extends "BlogApplication/base.html" %}
{% block content %}
<head>
    <title>Shubham Laxman Gaware - Portfolio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 10px;
        }

        .section {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>

    <header>
        <h1>Shubham Laxman Gaware</h1>
    </header>

    <div class="media-body">
        <h2>About Me</h2>

        <p>Hello! I'm Shubham, a passionate individual with a strong interest in technology and programming. I love to explore new technologies and take up exciting challenges in the field of software development. My goal is to make a positive impact on the world through innovative solutions.</p>
    </div>

    <div class="media-body">
        <h2>Projects</h2>
        <p>Here are some of the projects I've worked on:</p>
        <ul>
            <li><strong>Project 1:</strong> Collage  Search Mania</li>
            <li><strong>Project 2:</strong> WritingHub: Modern & Engaging Platform</li>
            <!-- Add more projects here -->
        </ul>
    </div>

    <div class="media-body">
        <h2>Contact</h2>
        <p>If you'd like to get in touch, feel free to reach out to me via email at: <a href="mailto:shubhamgaware45@gmail.com">shubhamgaware45@gmail.com</a></p>
    </div>

    <div class="media-body">
        <h2>Education</h2>
        <p>I pursued my Master Degree in Sinhagad Institute Of Management. I'm passionate about learning and continue to expand my knowledge in various programming languages and technologies.</p>
    </div>

    <div class="media-body">
        <h2>City</h2>
        <p>I currently reside in Pune, where I enjoy the vibrant tech community and various recreational activities.</p>
    </div>

    <footer>
        <p>© 2023 Shubham Laxman Gaware. All rights reserved.</p>
    </footer>
</body>
</html>



{% endblock content %}